<li class="list-group-item" style="padding: 0px 0px 0px 0px;border-radius: 0px">
    <ul class="pagination pagination-sm" style="margin: 0px 0px 0px 0px;">
        <li><a href="#" (click)="openExplorer()" > <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
    </ul>
</li>