<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="panel panel-success" style="height:100%; margin: 0px 0px;padding:0px 0px">
        <ul class="list-group">
          <folder-pannel [folder]="f" [selected]="f === selectedFolder" *ngFor="let f of userSettings.folders" (removeFolderEE)="onFolderRemoved($event)"
            (selectFolderEE)="onFolderSelected($event)"></folder-pannel>
          <add-folder [folders]="userSettings.folders" (addFolderEE)="onFolderAdded($event)"></add-folder>
        </ul>
      </div>
    </div>
    <div class="main">
      <checkouts [hidden]="!(selectedFolder === f)" *ngFor="let f of userSettings.folders" [folder]="f" style="height: 100%"></checkouts>
      <console-output></console-output>
    </div>
  </div>
</div>