<div class="panel panel-default" style="padding: 0px 0px 0px 0px;margin: 2px 0px 2px 0px;">
  <ul class="pagination pagination-sm" style="padding: 0px 0px 0px 0px;margin:0px 0px 0px 0px;">
    <li><a class="list-group-item" href="#" style="width:115px;" (click)="openExplorer()" rel="tooltip" data-placement="bottom"
        title="Checkout folder. Click to Open.">{{checkoutFolder.Name}}</a></li>
    <li class="disabled"><a class="list-group-item" href="#" style="width:70px;cursor:default" rel="tooltip" data-placement="bottom" title="Core Version">{{version}}</a></li>
    <!--SVN Actions-->
    <li class="dropdown">
      <a class="list-group-item dropdown-toggle" href="#" data-toggle="dropdown" role="button" rel="tooltip" data-placement="bottom"
        title="Core Version" aria-expanded="false">Svn Actions</a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let svn of svnActions"><a href="#" (click)="svn.action(checkoutFolder)">{{svn.name}}</a></li>
      </ul>
    </li>
    <!--Psake Actions-->
    <li class="dropdown">
      <a class="list-group-item dropdown-toggle" href="#" data-toggle="dropdown" rel="tooltip" data-placement="bottom" title="Invoke Psake Tasks"
        role="button" aria-expanded="false">
        <strong class="text-primary">Invoke-Psake</strong>
        </a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let task of powershellTasks"><a href="#" (click)="startPowershellTask(task)" data-toggle="tooltip" data-placement="left" title="{{task.description}}">{{task.displayName}}</a></li>
      </ul>
    </li>
    <!--Open Console-->
    <li><a href="#" (click)="openConsole()" rel="tooltip" data-placement="bottom" title="Open powersell console here">
      <strong class="text-primary"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></strong></a></li>
    <!--Open Solution-->
    <li class="dropdown">
      <a class="list-group-item dropdown-toggle" href="#" data-toggle="dropdown" rel="tooltip" data-placement="bottom" title="Open Visual Studio Solution"
        role="button" aria-expanded="false">
        <strong class="text-info">Open VS Solution</strong>
        </a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let f of solutionFiles"><a href="#" (click)="openVisualStudio(f)">{{f.Name}}</a></li>
      </ul>
    </li>
    <!--Select Config-->
    <li class="dropdown" *ngIf="implementationConfigs.length>0">
      <a class="list-group-item dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" style="width:200px;"
        rel="tooltip" data-placement="bottom" title="Select Cofig">
        <strong class="text-success">{{selectedImplementationConfig.Name}}</strong> <span class="caret pull-right"></span>
        </a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let f of implementationConfigs"><a href="#" (click)="selectConfig(f)">{{f.Name}}</a></li>
      </ul>
    </li>
    <!--Apply Config-->
    <li *ngIf="implementationConfigs.length>0">
      <a href="#" (click)="applySelectedConfig()" rel="tooltip" data-placement="bottom" title="Reaply selected config">
        <strong class="text-success" >Apply</strong>
        </a>
    </li>
    <!--Run executable-->
    <li class="dropdown">
      <a class="list-group-item dropdown-toggle" href="#" data-toggle="dropdown" rel="tooltip" data-placement="bottom" title="Run Executable"
        role="button" aria-expanded="false">
        <strong class="text-info">Run Executable</strong>
        </a>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let f of executables" (click)="runExecutable(f)"><a href="#">{{f.Description}}</a></li>
      </ul>
    </li>
    <!--Set AppPool-->
    <li>
      <a href="#" (click)="setIISAndCSProj()" rel="tooltip" data-placement="bottom" title="Create or Use folder specific appPool and fix csprojs to use that appPool">
        <strong class="text-primary" >Create&Set AppPool</strong>
        </a>
    </li>
  </ul>
  <div class="panel-body" *ngIf="runningProcesses.length>0" style="padding: 0px 0px 0px 0px;margin:0px 0px 0px 15px;">
    <process [process]="p" *ngFor="let p of runningProcesses"></process>
  </div>
</div>