<div class="panel panel-success" style="padding: 0px 0px 0px 0px;margin: 2px 0px 10px 0px;">
  <ul class="pagination pagination-sm" style="padding: 0px 0px 0px 0px;margin:0px 0px 0px 0px;">
    <li><a class="list-group-item" href="#" (click)="removeFinishedProcesses()" rel="tooltip" data-placement="bottom" title="Remove all finished process history">Clear processes</a></li>
  </ul>
</div>