<div class="footer" [style.height.px]="height">
    <div class="panel panel-success" style="height:100%;width:100%;overflow:hidden">
        <div>
            <a href="#" class="btn btn-success btn-xs" (click)="openHide()" rel="tooltip" data-placement="top" title="Open/Close console"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            <a href="#" class="btn btn-success btn-xs" (click)="copyToClipboard()" *ngIf="isVisible" rel="tooltip" data-placement="top" title="Copy console to clipboard"><i  class="fa fa-clipboard" aria-hidden="true"></i></a>
        </div>
        <div #scrollMe *ngIf="isVisible" style="overflow:scroll;height:calc(100% - 20px);width:100%">
            <pre>
{{currentProcess.stdOut}}
            </pre>

        </div>


    </div>
</div>