<li class="list-group-item" style="padding: 0px 0px 0px 0px;border-radius: 0px">
    <ul class="pagination pagination-sm" style="margin: 0px 0px 0px 0px;">
        <li [ngClass]="{'active': selected}"><a href="#" (click)="selectFolder()" style="width:150px;"><strong class="text-success">{{folder.Name}}</strong></a></li>
        <li><a href="#" (click)="removeFolder()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
        <li><a href="#" (click)="openConsole()"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></a></li>
        <li><a href="#" (click)="openExplorer()"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
    </ul>
</li>