<div *ngIf="process">
  <ul class="pagination pagination-sm" style="padding: 0px 0px 0px 0px;margin:0px 0px 0px 0px;">
    <li class="disabled"><a class="list-group-item" href="#" style="width:200px;cursor:default">{{process.name}}</a></li>
    <li><a class="list-group-item" href="#" (click)="ShowLog()" rel="tooltip" data-placement="bottom" title="Show log in console below">
     <strong [ngClass]="{'text-success':process.isSuccessful, 'text-danger': process.isUnSuccessful, 'text-primary': process.isActive}">LOG</strong>
     </a></li>
    <li *ngIf="!process.isActive || !process.isStarted "><a class="list-group-item" href="#" (click)="DeleteProcess()" rel="tooltip" data-placement="bottom" title="Remove process history"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
    <li *ngIf="process.isActive && process.isStarted && !process.deleteOnSuccessful"><a class="list-group-item" href="#" (click)="killProcess()" rel="tooltip" data-placement="bottom" title="Kill Process"><i class="fa fa-ban" aria-hidden="true"></i></a></li>
    <li *ngIf="process.isActive">
      <a class="list-group-item" href="#" style="width:300px;">
        <div class="progress progress-striped active" style="padding: 0px 0px 0px 0px;margin:2px 0px 2px 0px;">
          <div class="progress-bar" [style.width.%]="process.percentDone">
          </div>
        </div>
      </a>
    </li>
    <li class="disabled"><a class="list-group-item" href="#" style="cursor:default">{{process.timeInformation}}</a></li>
  </ul>
</div>