.footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 300px;
    margin: 5px 0px 0px 0px 0px;
    padding:0px 235px 0px 0px;
}

.sidebar {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    height:100%;
    width: 220px;
    margin: 5px 0px 50px 0px;
    padding:0px 0px 10px 2px;    

  }

.main{
   padding: 5px 5px 0px 230px;
}
